<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Worker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Edit Worker</h1>
    <form action="/edit_worker/{{ worker.id }}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ worker.name }}" required><br>

        <label for="function">Function:</label>
        <input type="text" id="function" name="function" value="{{ worker.function }}" required><br>

        <button type="submit">Update Worker</button>
    </form>
</body>
</html>
