<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Schedule</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Edit Schedule</h1>

    <h2>Days for Year {{ year }} and Week {{ week }}</h2>
    <ul>
        {% for day in days %}
            <li>{{ day.id_day }} - {{ day.date }}</li>
        {% endfor %}
    </ul>
</body>
</html>
