<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Welcome to the Scheduler App!</h1>

    <h2>User Information:</h2>
    <p>User ID: {{ session['user_id'] }}</p>
    <p>User Name: {{ session['username'] }}</p>

    <h1>Edit Schedule</h1>
    <form action="/edit_schedule" method="post">
        <label for="year">Year:</label>
        <input type="text" id="year" name="year"><br>
        <label for="week">Week Number:</label>
        <input type="text" id="week" name="week"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
