<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Sakoman</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>SAKOMAN.CH</h1>
        <p>Scheduler App</p>
        {% if username %}
            <p>Welcome, {{ username }}!</p>
            <p>Your role: {{ role }}</p>
            <!-- Add other content specific to authenticated users -->
        {% else %}
            <a href="/login" class="btn">Login</a>
            <a href="/register" class="btn">Register</a>
        {% endif %}
    </div>
    <div class="footer">
        &copy; 2024 Sakoman. All rights reserved.
    </div>
</body>
</html>
