<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preferences</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function addSelectedPosition() {
            var selectedPositions = [];
            var positionCheckboxes = document.querySelectorAll('.position-checkbox:checked');
            positionCheckboxes.forEach(function (checkbox) {
                selectedPositions.push(checkbox.value);
            });
            var selectedPositionsList = document.getElementById('selected-positions');
            selectedPositionsList.innerHTML = ''; // Clear previous selection
            selectedPositions.forEach(function (position) {
                var listItem = document.createElement('li');
                listItem.textContent = position;
                selectedPositionsList.appendChild(listItem);
            });
        }
    </script>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Preferences</h1>

    <h2>Positions</h2>
    <ul>
        {% for position in positions %}
        <li>
            <input type="checkbox" class="position-checkbox" value="{{ position.name }}" onclick="addSelectedPosition()">
            {{ position.name }}
        </li>
        {% endfor %}
    </ul>

    <h2>Selected Positions</h2>
    <ul id="selected-positions"></ul>
</body>
</html>
